$red: #de0436;
$font-size: 16px;
div {
 font-size: $font-size;
}
@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
		* {
			box-sizing: border-box;
		}
		.container
		{
			width: 99%;
			height: 99%;
			background-color:$red;
		}
.cardima{
	width: 175px;
	height: 200px;
	
	align-self: center;
	
}
		.jumbotron{
			background-color:$red;
			color: black;
            
            @include margenes(50px, 0px);
		}
		.footer-address-icon
		{
			padding-right: 10px;
		}
		footer{
			padding: 10px, 10px,0,10px;
			
			background-color:$red;
            @include margenes(10px, 0px);
        }
        body{
            background-color:$red;
        }
		.tab-content{
			padding-top: 10px;
		}

		.card_locion {
			flex: 1 150px;			
			margin-top: 10px;
			background-color:#f8e6ea;
		}
		.btn-reserva{
			width: 100%
		}

		.column {
			float: left;
			width: 33.33%;
			padding: 10px;
			height: 300px; 
		}

		
		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		
		@media screen and (max-width: 600px) {
			.column {
				width: 100%;
			}
		}
		.cent{

			text-align: center;
		}
